root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf

[*.{js,json,md}]
indent_style = space

[*.{js}]
indent_size = 4

[*.{json,md}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
