{
    "env": {
        "es6": true
    },
    "extends": [
        "standard",
    ],
    "rules": {
        "block-scoped-var": "error",
        "brace-style": "off",
        "camelcase": "error",
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "complexity": [
            "off",
            5
        ],
        "consistent-this": [
            "error",
            "self"
        ],
        "curly": "error",
        "dot-notation": [
            "error",
            {
                "allowKeywords": true
            }
        ],
        "eol-last": "off",
        "eqeqeq": "error",
        "guard-for-in": "off",
        "indent": [
            "error",
            4,
            {
                "MemberExpression": 1
            }
        ],
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "max-depth": [
            "off",
            4
        ],
        "max-len": [
            "off",
            80,
            4
        ],
        "max-params": [
            "off",
            3
        ],
        "max-statements": [
            "off",
            10
        ],
        "new-cap": "error",
        "new-parens": "error",
        "no-alert": "error",
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-catch-shadow": "error",
        "no-console": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-delete-var": "error",
        "no-div-regex": "error",
        "no-dupe-keys": "error",
        "no-else-return": "error",
        "no-empty-character-class": "error",
        "no-empty": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-ex-assign": "error",
        "no-extra-parens": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-func-assign": "off",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-loop-func": "error",
        "no-mixed-requires": "off",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-obj-calls": "error",
        "no-octal-escape": "error",
        "no-octal": "error",
        "no-plusplus": "off",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-regex-spaces": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-shadow": "error",
        "no-sync": "error",
        "no-ternary": "off",
        "no-undef-init": "error",
        "no-undef": "error",
        "no-underscore-dangle": "off",
        "no-unreachable": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "all",
                "argsIgnorePattern": "^_"
            }
        ],
        "no-use-before-define": "off",
        "no-var": "warn",
        "no-with": "error",
        "one-var": [
            "warn",
            "never"
        ],
        "operator-linebreak": [
            "error",
            "before"
        ],
        "prefer-const": "error",
        "promise/always-return": "error",
        "promise/catch-or-return": "error",
        "promise/no-native": "off",
        "promise/no-return-wrap": "error",
        "promise/param-names": "error",
        "quote-props": "off",
        "quotes": [
            "error",
            "double"
        ],
        "radix": "off",
        "semi": [
            "error",
            "always"
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "spaced-comment": "off",
        "strict": [
            "error",
            "global"
        ],
        "use-isnan": "error",
        "valid-typeof": "off",
        "wrap-iife": "error",
        "wrap-regex": "error"
    }
}
